html, body {
  margin: 50 50;
  padding: 30 100;
}
canvas {
  display: block;
}

#p5-canvas {
  position: absolute;
}

<style>
 div {
 width :200px ;
}
</style>

<body>

<div>
  width: 200px;
  padding: 10px;
  border: 5px solid gray;
  margin: 100; 
</div>

</body>